body {
    background-color: #E0E0E0;
    width: 600px;
}

legend {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.img {
    text-align: center;
}

img {
    margin: 20px;
    width : 120px;
    height : 120px;
}

.item_radio {
    text-align: center;
}

.item_text {
    text-align: center;
    margin-top: 20px;
}

.submit_button {
    text-align: center;
}

input[type="submit"] {
    width: 240px;
    border: none;
    border-radius: 4px;
    background-color: #317ac1;
    color: white;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
}

input[type="submit"]:hover {
    background-color: #165b9e;
}