<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'myfirstapp/style_fruit.css' %}">
</head>
<body>
    <form action="#" method="POST">
        <p>Parmi la liste quel est votre pizza préférée ? (un seul choix possible)</p>
        <div class="item_pizza">
            <input type="radio" name="marg"/>
            <label for="marg"> Margarita </label>
        </div>
        <div class="item_pizza">
            <input type="radio" name="nap"/>
            <label for="nap"> Napolitaine </label>
        </div>
        <div class="item_pizza">
            <input type="radio" name="Reine"/>
            <label for="Reine"> Reinz </label>
        </div>
        <div class="item_pizza">
            <input type="radio" name="Cal"/>
            <label for="Cal"> Calzone </label>
        </div>
        <div class="item_pizza">
            <input type="radio" name="Trois"/>
            <label for="Trois"> Trois Fromages </label>
        </div>
        <div class="item_pizza">
            <input type="radio" name="Tex"/>
            <label for="Tex"> Texane </label>
        </div>
        <div class="item_pizza">
            <input type="radio" name="Fruit"/>
            <label for="Fruit"> Fruits de mer </label>
        </div>
        <div class="item_pizza">
            <input type="radio" name="Haw"/>
            <label for="Haw"> Hawaïenne </label>
        </div>

       <p>Quels sont vos fruits préférés ? (plusieurs choix possibles) </p>
        <div class="item_fruit">
            <input type="checkbox" name="frai"/>
            <label for="frai"> Fraises </label>
        </div>
        <div class="item_fruit">
            <input type="checkbox" name="frai"/>
            <label for="frai"> Fraises </label>
        </div>
        <div class="item_fruit">
            <input type="checkbox" name="frai"/>
            <label for="frai"> Fraises </label>
        </div>
        <div class="item_fruit">
            <input type="checkbox" name="frai"/>
            <label for="frai"> Fraises </label>
        </div>
        <div class="item_fruit">
            <input type="checkbox" name="frai"/>
            <label for="frai"> Fraises </label>
        </div>
        <div class="item_fruit">
            <input type="checkbox" name="frai"/>
            <label for="frai"> Fraises </label>
        </div>
        <div class="item_fruit">
            <input type="checkbox" name="frai"/>
            <label for="frai"> Fraises </label>
        </div>
        <input type="submit" value="envoyer"/>
    </form>
</body>